
    <!-- calling component header -->
    <%- include('./components/header.ejs') -%>
    <main>
        <div class="feedback-cont" id="feedbacks">
            <div class="cont-desc">
                <h1>Thank you for Withdraw!</h1>
                <p>Your withdrawal amount is approved whithin 1-3 days.</p>
                <ul>
                    <li><button onclick="window.location.href='./dashboard'" class="primary">That's Great!</button></li>
                </ul>
            </div>
        </div>
    </main>
    <!-- calling component footer -->
    <%- include('./components/footer.ejs') -%>
