
    <footer>
        <nav class="top">
            <ul>
                <li><a href="./admin"><img src="../img/logo.svg" alt="PKSuccessTrading"></a></li>
            </ul>
            <ul>
                <li><a href="#">WhatsApp</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </nav>
        <nav class="bottom">
            <ul>
                <li><p>&copy; 2022 PKSuccessTrading. All rights reserved.</p></li>
            </ul>
            <ul>
                <li><a href="#">Terms & Agreements</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </nav>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>
